.chatbot-toggler {
	position: fixed;
	bottom: 30px;
	right: 35px;
	outline: none;
	border: none;
	height: 50px;
	width: 50px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #DB707E;
	transition: all 0.2s ease;
	z-index:9999;
}
body.show-chatbot .chatbot-toggler {
	transform: rotate(90deg);
}
.chatbot-toggler span {
	color: #fff;
	position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
	opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
	opacity: 1;
}
.chatbot {
	position: fixed;
	right: 35px;
	bottom: 90px;
	width: 420px;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transform: scale(0.5);
	transform-origin: bottom right;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
	0 32px 64px -48px rgba(0,0,0,0.5);
	transition: all 0.1s ease;
	z-index:9999;
}
body.show-chatbot .chatbot {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
}
.chatbot header {
	padding: 10px 0px 10px 12px;
	position: relative;
	text-align: left;
	color: #fff;
	background: #DB707E;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
	position: absolute;
	right: 15px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
}

.chatbot header span.menu-icon {
	right: 40px;
}
.chatbot header span.sync-icon {
	right: 65px;
}
.chatbot header span.status-msg {
	right: 125px;
}
.chatbot .chatbox {
	overflow-y: auto;
	height: 510px;
	padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
	width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 25px;
}
.chatbox .chat {
	display: flex;
	list-style: none;
}
.chatbox .outgoing {
	margin: 20px 0;
	justify-content: flex-end;
}
.chatbox .incoming span, .chatbox .outgoing span {
	width: 32px;
	height: 32px;
	color: #fff;
	cursor: default;
	text-align: center;
	line-height: 32px;
	align-self: flex-end;
	background: #DB707E;
	border-radius: 4px;
	margin: 0 10px 7px 0;
}
.chatbox .outgoing span {
	margin: 0 0 7px 10px;
}
.chatbox .chat p {
	white-space: pre-wrap;
	padding: 12px 16px;
	border-radius: 10px 10px 0 10px;
	max-width: 75%;
	color: #000;
	font-size: 0.95rem;
	background: #E8EBFA;
}
.chatbox .incoming p {
	border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
	color: #721c24;
	background: #f8d7da;
}
.chatbox .incoming p {
	color: #000;
	background: #f2f2f2;
}
.chatbot .chat-input {
	display: flex;
	gap: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	padding: 3px 20px;
	border-top: 1px solid #ddd;
}
.chat-input textarea {
	height: 55px;
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	max-height: 180px;
	padding: 15px 15px 15px 0;
	font-size: 0.95rem;
}
.chat-input textarea:focus {
	outline: none; /* Remove default outline */
	border: 1px solid white; /* Add a custom border */
	box-shadow: 0 0 5px white; /* Add a shadow */
}
.chat-input span {
	align-self: flex-end;
	color: #888;
	cursor: pointer;
	height: 55px;
	display: flex;
	align-items: center;
	font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
	visibility: visible;
}
@media (max-width: 490px) {
	.chatbot-toggler {
		right: 20px;
		bottom: 20px;
	}
	.chatbot {
		right: 0;
		bottom: 0;
		height: 100%;
		border-radius: 0;
		width: 100%;
	}
	.chatbot .chatbox {
		height: 90%;
		padding: 25px 15px 100px;
	}
	.chatbot .chat-input {
		padding: 5px 15px;
	}
	.chatbot header span {
		display: block;
	}
}

.dropdown-menu {
	display: none; /* Hidden by default */
	position: absolute;
	right: 40px;
}

.dropdown-menu ul {
	list-style: none; /* Remove default list bullets */
	padding: 0;
	margin: 0;
}

.dropdown-menu li {
	/* Styles for list items */
	padding: 5px;
}

.dropdown-menu li.submenu {
	/* Styles for list items */
	padding-left: 25px;
}
[data-tooltip] {
	display: inline-block;
	position: relative;
	cursor: help;
	padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	background: #f2f2f2;
	color: #000;
	padding: 4px 8px;
	font-size: 14px;
	line-height: 1.4;
	min-width: 100px;
	text-align: center;
	border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="bottom"]:before {
	left: 50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="bottom"]:before {
	top: 100%;
	margin-top: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
	content: '';
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="bottom"]:after {
	left: 50%;
	margin-left: -6px;
}
[data-tooltip-position="bottom"]:after {
	top: 100%;
	border-width: 0 6px 6px;
	border-bottom-color: #f2f2f2;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: block;
	z-index: 50;
}